/* Empty. Add your own CSS if you like */
.discovery-item {
    /*height: 100%;*/

}

.head-img {
    width: 48px;
    height: 48px;
    float: left;
    margin-top: 0px;
    margin-right: 8px;
}

.feed-content-img {
    width: 100px;
}